@import "./fonts";


.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:  1em; 
  justify-content: space-around;
  background-color: #c5bae2;
}

h1, h2, h3, h4, h5, p, a, button {
  font-family: 'Lato', sans-serif;
}

h2, h3, h4 {
  font-weight: 400;
}