@import '_mixins.scss';

  .border-image-settings {
    padding: 1em 2em 2em 2em;
    width: min-content;
    margin: 1em;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow:  3px 5px 7px 1px rgba(0,0,0,0.36);
  -moz-box-shadow:  3px 5px 7px 1px rgba(0,0,0,0.36);
  box-shadow: 3px 5px 7px 1px rgba(0,0,0,0.36);

  @include breakpoint(supersml) {
    width: auto;
    margin: 1em 0;

  }
    .input-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: max-content;
      @include breakpoint(supersml) {
        flex-direction: column;
  
      }
    }
  }


.settings {
  padding: 0em 1em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  @include breakpoint(supersml) {
    grid-template-rows: 4rem auto;
  }

  h2 {
    margin-right: 1em;
    grid-area: 1 / 1;
  }

  .number-entries {
    grid-area: 2 /1;
    display: flex;
    flex-direction: column;
    @include breakpoint(supersml) {
      height: 7rem;
      flex-wrap: wrap;
    }
  }
  .settings-dropdown {
    height: min-content;
    grid-area: 2 / 1;
  }
}



