.border-image-settings {
  display: flex;
  flex-direction: row;
  flex-direction: wrap;
  margin: 2em;
  width: min-content;

  .output {
    .demo-div {
      width: 30vw;
      height: 30vw;
      margin: 2em;
    }
  }

  .input {

  }

}