.App {
  display: flex;
  flex-direction: row;
}

.canvas-container {
  height: min-content;
  width: min-content;
  margin: 50px auto;


  svg {
    height: 500px;
    width: 500px;
    border: 1px solid black;
  }
}

.stroke-settings {
  display: flex;
  flex-direction: column;
  width: 15em;
  margin: 1em auto;

  .settings-bar {
    margin: 1em;
    display: flex;
    flex-direction: column;
  }
}