.canvas-container {
  height: min-content;
  width: min-content;
  margin: 50px auto;


  svg {
    height: 500px;
    width: 500px;
    border: 1px solid black;
  }
}

.stroke-settings {
  display: flex;
  flex-direction: column;
  width: 15em;
}